{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Livros</h1>

    <table class="table">
    <thead>
        <tr>
        <th>Nome</th>
        <th>Pagina</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}
        <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.pages }}</td>
        <td><a href="{% url "book_view" book.id %}">ver</a></td>
        <td><a href="{% url "book_edit" book.id %}">editar</a></td>
        <td><a href="{% url "book_delete" book.id %}">deletar</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="{% url "book_new" %}">Adicionar Livro</a>
    </div>
</div>    
{% endblock %}